<div class="row">
  <div class="col-md-12">
    <nav *ngIf="total > limite" aria-label="Paginación">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="paginaActual === 1">
          <button class="page-link" (click)="cambiarPagina(paginaActual - 1)">Anterior</button>
        </li>
        <li class="page-item"
            *ngFor="let page of paginas"
            [class.active]="paginaActual === page">
          <button class="page-link" (click)="cambiarPagina(page)">{{ page }}</button>
        </li>

        <li class="page-item" [class.disabled]="paginaActual === ultimaPagina">
          <button class="page-link" (click)="cambiarPagina(paginaActual + 1)">Siguiente</button>
        </li>
      </ul>
    </nav>

  </div>
</div>
