<div class="container mt-4">
  <h2 class="mb-3">Lista de Activos</h2>



  <div class="row mb-3">
    <div class="col-md-6 mb-2 text-start">
      <input type="text" class="form-control" [(ngModel)]="search" (keyup)="obtenerActivos()" placeholder="Filtros..."/>
    </div>
    <div class="col-md-2 mb-2 text-end">
      <a [routerLink]="['/activos/nuevo']" class="btn btn-success">Crear Activo</a>
    </div>
  </div>

  <div class="row mb-3">
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
      <tr>
        <th class="pointer" (click)="cambiarOrden('id')">ID
          <mat-icon class="pt-1">filter_list</mat-icon>
        </th>
        <th class="pointer" (click)="cambiarOrden('nombre')">Nombre
          <mat-icon class="pt-1">filter_list</mat-icon>
        </th>
        <th class="pointer" (click)="cambiarOrden('categoria')">Categoría
          <mat-icon class="pt-1">filter_list</mat-icon>
        </th>
        <th class="pointer" (click)="cambiarOrden('area')">Área
          <mat-icon class="pt-1">filter_list</mat-icon>
        </th>
        <th class="pointer" (click)="cambiarOrden('custodio')">Custodio
          <mat-icon class="pt-1">filter_list</mat-icon>
        </th>
        <th class="pointer" (click)="cambiarOrden('fechaAdquisicion')">Fecha de Adquisición
          <mat-icon class="pt-1">filter_list</mat-icon>
        </th>
        <th class="pointer" (click)="cambiarOrden('valor')">Valor
          <mat-icon class="pt-1">filter_list</mat-icon>
        </th>
        <th class="pointer" (click)="cambiarOrden('estado')">Estado
          <mat-icon class="pt-1">filter_list</mat-icon>
        </th>

        <th>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let activo of listado">
        <td>{{ activo.id }}</td>
        <td>{{ activo.nombre }}</td>
        <td>{{ activo.categoria }}</td>
        <td>{{ activo.area }}</td>
        <td>{{ activo.custodio }}</td>
        <td>{{ activo.fechaAdquisicion | date:'yyyy-MM-dd' }}</td>
        <td>{{ activo.valor | currency:'COP':'symbol':'1.0-0' }}</td>
        <td>{{ activo.estado }}</td>
        <td>
          <a  [routerLink]="['/activos/editar/'+activo.id]" class="btn btn-warning btn-sm ">
            <mat-icon class="icon-display">edit</mat-icon>
          </a>
          <button *ngIf="activo.estado != 'Inactivo'" (click)="abrirModalBaja(activo)" class="btn btn-danger btn-sm mx-1">
            <mat-icon class="icon-display">delete</mat-icon>
          </button>
          <button class="btn btn-info btn-sm mx-1 mt-1" (click)="abrirModalMovimiento(activo)">
            <mat-icon class="icon-display">switch_right</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <app-pagination [limite]="limite"
                    [paginaActual]="paginaActual"
                    [total]="totalActivos"
                    (paginaCambiada)="onPaginaCambiada($event)"
    />

    <div class="modal-backdrop" *ngIf="registroSeleccionado">
      <div class="modal">
        <div class="row">
          <div class="col-md-12">
            <h2>Desea dar de baja a este activo?</h2>

              <p>Nombre: {{ registroSeleccionado!!.nombre }}</p>
              <p>Categoría: {{ registroSeleccionado!!.categoria }}</p>
              <p>Área: {{ registroSeleccionado!!.area }}</p>
              <p>Custodio: {{ registroSeleccionado!!.custodio }}</p>
              <p>Fecha de adquisición: {{ registroSeleccionado!!.fechaAdquisicion }}</p>
              <p>Valor: {{ registroSeleccionado!!.valor |  currency:'COP':'symbol':'1.0-0' }}</p>
              <p>Estado: {{ registroSeleccionado!!.estado }}</p>
          </div>

        </div>
        <button class="btn btn-info mx-1" (click)="registroSeleccionado = null">Cerrar</button>
        <button class="btn btn-danger" (click)="darDeBaja(registroSeleccionado!!)">Dar de baja</button>
      </div>
    </div>

    <div class="modal-backdrop" *ngIf="registroMovimiento">
      <div class="modal">
        <div class="row">
          <div class="col-md-12">
            <h2>Desea mover este activo?</h2>

            <p>Nombre: {{ registroMovimiento!!.nombre }}</p>
            <p>Categoría: {{ registroMovimiento!!.categoria }}</p>
            <p>Área: {{ registroMovimiento!!.area }}</p>
            <p>Custodio: {{ registroMovimiento!!.custodio }}</p>
          </div>

          <b class="mb-1">Mover a:</b>
          <select id="area" class="form-control mb-4" [(ngModel)]="areaSeleccionada" name="area">
            <option selected value="">
              Seleccione
            </option>
            <option *ngFor="let area of areas" [value]="area.nombre">
              {{ area.nombre }}
            </option>
          </select>

          <b class="mb-1">Custodio:</b>
          <select class="form-control mb-4" [(ngModel)]="costodioSeleccionado" name="custodio">
            <option selected value="">
              Seleccione
            </option>
            <option *ngFor="let cust of costodios" [value]="cust.nombre">
              {{ cust.nombre }}
            </option>
          </select>

        </div>
        <button class="btn btn-secondary mx-1" (click)="registroMovimiento = null">Cerrar</button>
        <button class="btn btn-info" (click)="mover(registroMovimiento!!)">Mover</button>
      </div>
    </div>
  </div>
</div>
